@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Angkor&family=Jersey+10&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Sharp Grotesk";
  background: #e7e4e5;
  overflow-x: hidden;
}
.loader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #000;
  pointer-events: none;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.loader-imgs {
  position: absolute;
  width: 150%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 50px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.loader-img {
  position: relative;
  flex: 1;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
img {
  width: 100%;
  height: 220px;
  object-fit: contain;
}

nav {
  width: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 2;
  /* mix-blend-mode: difference; */
  /* background: #e7e4e5; */
}
.nav-item {
  position: relative;
  flex: 1;
}
.nav-item:nth-child(2) {
  text-align: center;
  font-weight: 700;
  font-family: "Philosopher", sans-serif;
  font-size: 24px;
}
.nav-item:nth-child(3) {
  text-align: right;
}

.menu-btn{
    border: none;
    background: transparent;
    cursor: pointer;
}




a {
  text-decoration: none;
  /* text-transform: uppercase; */
  color: #000;
}

.hero {
  width: 100%;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  /* font-family: "PP Migra"; */
  font-family: "Philosopher", sans-serif;
}
.h1 {
  width: 100%;
  text-align: center;
  font-size: 4vw;
  text-transform: uppercase;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
h1 {
  position: relative;
  font-weight: 400;
  line-height: 85%;
}
h1 span {
  font-family: "Jersey 10", sans-serif;
  font-weight: 700;
}
